[submodule "libs/zlib"]
	path = libs/zlib
	url = git@github.com:madler/zlib.git
[submodule "libs/libpng"]
	path = libs/libpng
	url = git@github.com:glennrp/libpng.git
[submodule "libs/CMake"]
	path = libs/CMake
	url = git@github.com:Kitware/CMake.git
